* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(247, 242, 242);
}

header {
    height: 80px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 5px 5px rgba(204, 202, 202, 0.5);
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    position: relative;
}

.nav-left .logo img {
    width: 220px;
    height: auto;
    margin-left: -10px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    margin-left: 100px;
}

.nav-right .nav-menus {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
}

.nav-right .nav-menus i {
    font-size: 25px;
    color: #706e6e;
    margin-bottom: 5px;
}

.nav-right .nav-menus p {
    font-size: 16px;
    color: #706e6e;
    margin: 0;
}

.nav-right .nav-menus:nth-child(7) {
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.sponsor a {
    font-size: 16px;
    color: rgb(185, 122, 5);
    margin-right: -60px;
    text-decoration: none;
}

.nav-right .nav-menus:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.sub-menu-wrap {
    position: absolute;
    top: 120%;
    right: -30%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 999;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img {
    width: 50px;
    background:#e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}



.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.dark-mode body {
    background-color: #222;
    color: #ddd;
}

.dark-mode header {
    background-color: #333;
    box-shadow: none;
}