html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert {
    margin-bottom: 0;
}

.alert-success {
    background-color: #dbf1ee;
    color: #2b8a3e;
}

.alert-warning {
    background-color: #fff4d9;
    color: #aa6d00;
}

.btn-whatsapp {
    background-color: #fff;
    color: white;
    border: none;
    padding: 10px 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
}

.btn-whatsapp:hover {
    background-color: white; 
    color: #25D366;
    border: 1px solid #25D366;
}

.btn-whatsapp img {
    float: left;
    margin-right: 15px;
}

.message-right {
    background-color: #3F74EE; /* couleur de fond pour les messages de l'utilisateur */
    text-align: right;
    align-self: flex-end;
    color: #fff;
    
}

.message-left {
    background-color: #eff3fc; /* couleur de fond pour les messages de l'ami */
    text-align: left;
    margin-right: auto;
    color: #202124;
}

.message-right, .message-left {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 60%;
    display: block;
    clear: both;
    position: relative;
    max-width: 50vh;
}

#conversation{
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#conversation::-webkit-scrollbar {
    width: 10px;
    
}

#conversation::-webkit-scrollbar-track {
    background: transparent; /* rend la piste transparente */
}

#conversation::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#conversation::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#conversation > * {
    direction: ltr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* Assurez-vous que la barre latérale a une hauteur définie */
}

#disconnect-messagerie {
    position:relative;
    margin-top:98%;

}


#barre-laterale{
    width: 280px; 
    background-color: #0000; 
    border-right: 1px solid #8a8585;
    border-color: black;
}