html,
body {
    height: 100%;
}

/* Barre Latérale */
#barre-laterale{
    width: 280px; 
    background-color: #0000; 
    border-right: 1px solid #8a8585;
    border-color: black;
}

.btn-whatsapp {
    background-color: #fff;
    color: white;
    border: 1px transparent #fff;
    padding: 10px 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
}

.btn-whatsapp:hover {
    background-color: white; 
    color: #25D366;
    border: 1px solid #25D366;
}

.btn-whatsapp img {
    float: left;
    margin-right: 15px;
}

#select-conversation{
    width: 100%;
    max-height: 68vh;
}

#select-conversation::-webkit-scrollbar {
    width: 10px;
    
}

#select-conversation::-webkit-scrollbar-track {
    background: transparent; /* rend la piste transparente */
}

#select-conversation::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#select-conversation::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#action-buttons-messagerie{
    position:relative;
    margin-top: 2vh;
}



/* Mise en forme de la boîte à message */
#conversation{
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-container-right{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 10px;
}

.message-container-left {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 10px;
}

.message-right {
    background-color: #3F74EE; /* couleur de fond pour les messages de l'utilisateur */
    text-align: right;
    align-self: flex-end;
    color: #fff;
    
}

.message-left {
    background-color: #eff3fc; /* couleur de fond pour les messages de l'ami */
    text-align: left;
    margin-right: auto;
    color: #202124;
}

.message-right, .message-left {
    border-radius: 20px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 60%;
    display: block;
    clear: both;
    position: relative;
    max-width: 50vh;
}

.button-delete-msg{
    background: transparent;
    border: none;
}
.button-delete-msg svg {
    visibility: hidden; /* Cacher l'icône par défaut */
}

.button-delete-msg:hover svg {
    visibility: visible; /* Afficher l'icône au survol */
}

#conversation::-webkit-scrollbar {
    width: 10px;
    
}

#conversation::-webkit-scrollbar-track {
    background: transparent; /* rend la piste transparente */
}

#conversation::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#conversation::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#conversation > * {
    direction: ltr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}


